
            .back.card-1 { background-image: url(5e8bf93af6082885ff046aa6.image.png); }
            .back.matching.card-1 { background-image: url(5e8bf93af6082885ff046aa6.card.png); }
        
            .back.card-2 { background-image: url(5e8bf93bf6082885ff046aa7.image.png); }
            .back.matching.card-2 { background-image: url(5e8bf93bf6082885ff046aa7.card.png); }
        
            .back.card-3 { background-image: url(5e8bf93cf6082885ff046aa8.image.png); }
            .back.matching.card-3 { background-image: url(5e8bf93cf6082885ff046aa8.card.png); }
        
            .back.card-4 { background-image: url(5e8bf93cf6082885ff046aa9.image.png); }
            .back.matching.card-4 { background-image: url(5e8bf93cf6082885ff046aa9.card.png); }
        
            .back.card-5 { background-image: url(5e8bf93df6082885ff046aaa.image.png); }
            .back.matching.card-5 { background-image: url(5e8bf93df6082885ff046aaa.card.png); }
        
            .back.card-6 { background-image: url(5e8bf93ef6082885ff046aab.image.png); }
            .back.matching.card-6 { background-image: url(5e8bf93ef6082885ff046aab.card.png); }
        
            .back.card-7 { background-image: url(5e8bf93ef6082885ff046aac.image.png); }
            .back.matching.card-7 { background-image: url(5e8bf93ef6082885ff046aac.card.png); }
        
            .back.card-8 { background-image: url(5e8bf93ff6082885ff046aad.image.png); }
            .back.matching.card-8 { background-image: url(5e8bf93ff6082885ff046aad.card.png); }
        
            .back.card-9 { background-image: url(5e8bf940f6082885ff046aae.image.png); }
            .back.matching.card-9 { background-image: url(5e8bf940f6082885ff046aae.card.png); }
        
            .back.card-10 { background-image: url(5e8bf941f6082885ff046aaf.image.png); }
            .back.matching.card-10 { background-image: url(5e8bf941f6082885ff046aaf.card.png); }
        
            .back.card-11 { background-image: url(5e8bf942f6082885ff046ab0.image.png); }
            .back.matching.card-11 { background-image: url(5e8bf942f6082885ff046ab0.card.png); }
        
            .back.card-12 { background-image: url(5e8bf942f6082885ff046ab1.image.png); }
            .back.matching.card-12 { background-image: url(5e8bf942f6082885ff046ab1.card.png); }
        
            .back.card-13 { background-image: url(5e8bf943f6082885ff046ab2.image.png); }
            .back.matching.card-13 { background-image: url(5e8bf943f6082885ff046ab2.card.png); }
        
            .back.card-14 { background-image: url(5e8bf944f6082885ff046ab3.image.png); }
            .back.matching.card-14 { background-image: url(5e8bf944f6082885ff046ab3.card.png); }
        
            .back.card-15 { background-image: url(5e8bf944f6082885ff046ab4.image.png); }
            .back.matching.card-15 { background-image: url(5e8bf944f6082885ff046ab4.card.png); }
        
            .back.card-16 { background-image: url(5e8bf945f6082885ff046ab5.image.png); }
            .back.matching.card-16 { background-image: url(5e8bf945f6082885ff046ab5.card.png); }
        
            .back.card-17 { background-image: url(5e8bf946f6082885ff046ab6.image.png); }
            .back.matching.card-17 { background-image: url(5e8bf946f6082885ff046ab6.card.png); }
        
            .back.card-18 { background-image: url(5e8bf946f6082885ff046ab7.image.png); }
            .back.matching.card-18 { background-image: url(5e8bf946f6082885ff046ab7.card.png); }
        
            .back.card-19 { background-image: url(5e8bf947f6082885ff046ab8.image.png); }
            .back.matching.card-19 { background-image: url(5e8bf947f6082885ff046ab8.card.png); }
        
            .back.card-20 { background-image: url(5e8bf948f6082885ff046ab9.image.png); }
            .back.matching.card-20 { background-image: url(5e8bf948f6082885ff046ab9.card.png); }
        
