
            .back.card-1 { background-image: url(5e8dacb854bd1fe2183032e0.image.png); }
            .back.matching.card-1 { background-image: url(5e8dacb854bd1fe2183032e0.card.png); }
        
            .back.card-2 { background-image: url(5e8dacb854bd1fe2183032dd.image.png); }
            .back.matching.card-2 { background-image: url(5e8dacb854bd1fe2183032dd.card.png); }
        
            .back.card-3 { background-image: url(5e92e8bf8ef7c7826650adaa.image.png); }
            .back.matching.card-3 { background-image: url(5e92e8bf8ef7c7826650adaa.card.png); }
        
            .back.card-4 { background-image: url(5e8dacb854bd1fe2183032de.image.png); }
            .back.matching.card-4 { background-image: url(5e8dacb854bd1fe2183032de.card.png); }
        
            .back.card-5 { background-image: url(5e92e8bf8ef7c7826650adab.image.png); }
            .back.matching.card-5 { background-image: url(5e92e8bf8ef7c7826650adab.card.png); }
        
            .back.card-6 { background-image: url(5e92e8c08ef7c7826650adac.image.png); }
            .back.matching.card-6 { background-image: url(5e92e8c08ef7c7826650adac.card.png); }
        
            .back.card-7 { background-image: url(5e92e8c08ef7c7826650adad.image.png); }
            .back.matching.card-7 { background-image: url(5e92e8c08ef7c7826650adad.card.png); }
        
            .back.card-8 { background-image: url(5e8dacb854bd1fe2183032db.image.png); }
            .back.matching.card-8 { background-image: url(5e8dacb854bd1fe2183032db.card.png); }
        
            .back.card-9 { background-image: url(5e8dacb854bd1fe2183032d8.image.png); }
            .back.matching.card-9 { background-image: url(5e8dacb854bd1fe2183032d8.card.png); }
        
            .back.card-10 { background-image: url(5e92e8c18ef7c7826650adae.image.png); }
            .back.matching.card-10 { background-image: url(5e92e8c18ef7c7826650adae.card.png); }
        
            .back.card-11 { background-image: url(5e8dacb854bd1fe2183032d9.image.png); }
            .back.matching.card-11 { background-image: url(5e8dacb854bd1fe2183032d9.card.png); }
        
            .back.card-12 { background-image: url(5e8dacb854bd1fe2183032da.image.png); }
            .back.matching.card-12 { background-image: url(5e8dacb854bd1fe2183032da.card.png); }
        
            .back.card-13 { background-image: url(5e92e8c28ef7c7826650adaf.image.png); }
            .back.matching.card-13 { background-image: url(5e92e8c28ef7c7826650adaf.card.png); }
        
            .back.card-14 { background-image: url(5e8dacb854bd1fe2183032d1.image.png); }
            .back.matching.card-14 { background-image: url(5e8dacb854bd1fe2183032d1.card.png); }
        
            .back.card-15 { background-image: url(5e92e8c38ef7c7826650adb0.image.png); }
            .back.matching.card-15 { background-image: url(5e92e8c38ef7c7826650adb0.card.png); }
        
            .back.card-16 { background-image: url(5e92e8c38ef7c7826650adb1.image.png); }
            .back.matching.card-16 { background-image: url(5e92e8c38ef7c7826650adb1.card.png); }
        
            .back.card-17 { background-image: url(5e92e8c38ef7c7826650adb2.image.png); }
            .back.matching.card-17 { background-image: url(5e92e8c38ef7c7826650adb2.card.png); }
        
            .back.card-18 { background-image: url(5e92e8c48ef7c7826650adb3.image.png); }
            .back.matching.card-18 { background-image: url(5e92e8c48ef7c7826650adb3.card.png); }
        
            .back.card-19 { background-image: url(5e92e8c48ef7c7826650adb4.image.png); }
            .back.matching.card-19 { background-image: url(5e92e8c48ef7c7826650adb4.card.png); }
        
            .back.card-20 { background-image: url(5e92e8c48ef7c7826650adb5.image.png); }
            .back.matching.card-20 { background-image: url(5e92e8c48ef7c7826650adb5.card.png); }
        
            .back.card-21 { background-image: url(5e92e8c58ef7c7826650adb6.image.png); }
            .back.matching.card-21 { background-image: url(5e92e8c58ef7c7826650adb6.card.png); }
        
            .back.card-22 { background-image: url(5e92e8c58ef7c7826650adb7.image.png); }
            .back.matching.card-22 { background-image: url(5e92e8c58ef7c7826650adb7.card.png); }
        
            .back.card-23 { background-image: url(5e8dacb854bd1fe2183032dc.image.png); }
            .back.matching.card-23 { background-image: url(5e8dacb854bd1fe2183032dc.card.png); }
        
            .back.card-24 { background-image: url(5e92e8c68ef7c7826650adb8.image.png); }
            .back.matching.card-24 { background-image: url(5e92e8c68ef7c7826650adb8.card.png); }
        
