
            .back.card-1 { background-image: url(5e8bf93af6082885ff046aa6.image.png); }
            .back.matching.card-1 { background-image: url(5e8bf93af6082885ff046aa6.card.png); }
        
            .back.card-2 { background-image: url(5e8bf93bf6082885ff046aa7.image.png); }
            .back.matching.card-2 { background-image: url(5e8bf93bf6082885ff046aa7.card.png); }
        
            .back.card-3 { background-image: url(5e8bf93cf6082885ff046aa8.image.png); }
            .back.matching.card-3 { background-image: url(5e8bf93cf6082885ff046aa8.card.png); }
        
            .back.card-4 { background-image: url(5e8bf93cf6082885ff046aa9.image.png); }
            .back.matching.card-4 { background-image: url(5e8bf93cf6082885ff046aa9.card.png); }
        
            .back.card-5 { background-image: url(5e8bf93df6082885ff046aaa.image.png); }
            .back.matching.card-5 { background-image: url(5e8bf93df6082885ff046aaa.card.png); }
        
            .back.card-6 { background-image: url(5e8bf93ef6082885ff046aab.image.png); }
            .back.matching.card-6 { background-image: url(5e8bf93ef6082885ff046aab.card.png); }
        
            .back.card-7 { background-image: url(5e8bf93ef6082885ff046aac.image.png); }
            .back.matching.card-7 { background-image: url(5e8bf93ef6082885ff046aac.card.png); }
        
            .back.card-8 { background-image: url(5e8bf93ff6082885ff046aad.image.png); }
            .back.matching.card-8 { background-image: url(5e8bf93ff6082885ff046aad.card.png); }
        
            .back.card-9 { background-image: url(5e8bf940f6082885ff046aae.image.png); }
            .back.matching.card-9 { background-image: url(5e8bf940f6082885ff046aae.card.png); }
        
            .back.card-10 { background-image: url(5e8bf941f6082885ff046aaf.image.png); }
            .back.matching.card-10 { background-image: url(5e8bf941f6082885ff046aaf.card.png); }
        
