
            .back.card-1 { background-image: url(5e92e8b48ef7c7826650ad9c.image.png); }
            .back.matching.card-1 { background-image: url(5e92e8b48ef7c7826650ad9c.card.png); }
        
            .back.card-2 { background-image: url(5e92e8b58ef7c7826650ad9d.image.png); }
            .back.matching.card-2 { background-image: url(5e92e8b58ef7c7826650ad9d.card.png); }
        
            .back.card-3 { background-image: url(5e92e8b58ef7c7826650ad9e.image.png); }
            .back.matching.card-3 { background-image: url(5e92e8b58ef7c7826650ad9e.card.png); }
        
            .back.card-4 { background-image: url(5e92e8b58ef7c7826650ad9f.image.png); }
            .back.matching.card-4 { background-image: url(5e92e8b58ef7c7826650ad9f.card.png); }
        
            .back.card-5 { background-image: url(5e92e8b68ef7c7826650ada0.image.png); }
            .back.matching.card-5 { background-image: url(5e92e8b68ef7c7826650ada0.card.png); }
        
            .back.card-6 { background-image: url(5e92e8b68ef7c7826650ada1.image.png); }
            .back.matching.card-6 { background-image: url(5e92e8b68ef7c7826650ada1.card.png); }
        
            .back.card-7 { background-image: url(5e92e8b78ef7c7826650ada2.image.png); }
            .back.matching.card-7 { background-image: url(5e92e8b78ef7c7826650ada2.card.png); }
        
            .back.card-8 { background-image: url(5e8dacb854bd1fe2183032d7.image.png); }
            .back.matching.card-8 { background-image: url(5e8dacb854bd1fe2183032d7.card.png); }
        
            .back.card-9 { background-image: url(5e8dacb854bd1fe2183032d6.image.png); }
            .back.matching.card-9 { background-image: url(5e8dacb854bd1fe2183032d6.card.png); }
        
            .back.card-10 { background-image: url(5e8dacb854bd1fe2183032e3.image.png); }
            .back.matching.card-10 { background-image: url(5e8dacb854bd1fe2183032e3.card.png); }
        
            .back.card-11 { background-image: url(5e92e8b98ef7c7826650ada3.image.png); }
            .back.matching.card-11 { background-image: url(5e92e8b98ef7c7826650ada3.card.png); }
        
            .back.card-12 { background-image: url(5e92e8b98ef7c7826650ada4.image.png); }
            .back.matching.card-12 { background-image: url(5e92e8b98ef7c7826650ada4.card.png); }
        
            .back.card-13 { background-image: url(5e8dacb854bd1fe2183032d3.image.png); }
            .back.matching.card-13 { background-image: url(5e8dacb854bd1fe2183032d3.card.png); }
        
            .back.card-14 { background-image: url(5e8dacb854bd1fe2183032d4.image.png); }
            .back.matching.card-14 { background-image: url(5e8dacb854bd1fe2183032d4.card.png); }
        
            .back.card-15 { background-image: url(5e92e8ba8ef7c7826650ada5.image.png); }
            .back.matching.card-15 { background-image: url(5e92e8ba8ef7c7826650ada5.card.png); }
        
            .back.card-16 { background-image: url(5e92e8bb8ef7c7826650ada6.image.png); }
            .back.matching.card-16 { background-image: url(5e92e8bb8ef7c7826650ada6.card.png); }
        
            .back.card-17 { background-image: url(5e8dacb854bd1fe2183032d2.image.png); }
            .back.matching.card-17 { background-image: url(5e8dacb854bd1fe2183032d2.card.png); }
        
            .back.card-18 { background-image: url(5e8dacb854bd1fe2183032e2.image.png); }
            .back.matching.card-18 { background-image: url(5e8dacb854bd1fe2183032e2.card.png); }
        
            .back.card-19 { background-image: url(5e92e8bc8ef7c7826650ada7.image.png); }
            .back.matching.card-19 { background-image: url(5e92e8bc8ef7c7826650ada7.card.png); }
        
            .back.card-20 { background-image: url(5e8dacb854bd1fe2183032d5.image.png); }
            .back.matching.card-20 { background-image: url(5e8dacb854bd1fe2183032d5.card.png); }
        
            .back.card-21 { background-image: url(5e8dacb854bd1fe2183032df.image.png); }
            .back.matching.card-21 { background-image: url(5e8dacb854bd1fe2183032df.card.png); }
        
            .back.card-22 { background-image: url(5e92e8bd8ef7c7826650ada8.image.png); }
            .back.matching.card-22 { background-image: url(5e92e8bd8ef7c7826650ada8.card.png); }
        
            .back.card-23 { background-image: url(5e8dacb854bd1fe2183032e1.image.png); }
            .back.matching.card-23 { background-image: url(5e8dacb854bd1fe2183032e1.card.png); }
        
            .back.card-24 { background-image: url(5e92e8be8ef7c7826650ada9.image.png); }
            .back.matching.card-24 { background-image: url(5e92e8be8ef7c7826650ada9.card.png); }
        
