
            .back.card-1 { background-image: url(5e8bf942f6082885ff046ab0.image.png); }
            .back.matching.card-1 { background-image: url(5e8bf942f6082885ff046ab0.card.png); }
        
            .back.card-2 { background-image: url(5e8bf942f6082885ff046ab1.image.png); }
            .back.matching.card-2 { background-image: url(5e8bf942f6082885ff046ab1.card.png); }
        
            .back.card-3 { background-image: url(5e8bf943f6082885ff046ab2.image.png); }
            .back.matching.card-3 { background-image: url(5e8bf943f6082885ff046ab2.card.png); }
        
            .back.card-4 { background-image: url(5e8bf944f6082885ff046ab3.image.png); }
            .back.matching.card-4 { background-image: url(5e8bf944f6082885ff046ab3.card.png); }
        
            .back.card-5 { background-image: url(5e8bf944f6082885ff046ab4.image.png); }
            .back.matching.card-5 { background-image: url(5e8bf944f6082885ff046ab4.card.png); }
        
            .back.card-6 { background-image: url(5e8bf945f6082885ff046ab5.image.png); }
            .back.matching.card-6 { background-image: url(5e8bf945f6082885ff046ab5.card.png); }
        
            .back.card-7 { background-image: url(5e8bf946f6082885ff046ab6.image.png); }
            .back.matching.card-7 { background-image: url(5e8bf946f6082885ff046ab6.card.png); }
        
            .back.card-8 { background-image: url(5e8bf946f6082885ff046ab7.image.png); }
            .back.matching.card-8 { background-image: url(5e8bf946f6082885ff046ab7.card.png); }
        
            .back.card-9 { background-image: url(5e8bf947f6082885ff046ab8.image.png); }
            .back.matching.card-9 { background-image: url(5e8bf947f6082885ff046ab8.card.png); }
        
            .back.card-10 { background-image: url(5e8bf948f6082885ff046ab9.image.png); }
            .back.matching.card-10 { background-image: url(5e8bf948f6082885ff046ab9.card.png); }
        
