
            .back.card-1 { background-image: url(5e8dac932c02d5b61d43063a.image.png); }
            .back.matching.card-1 { background-image: url(5e8dac932c02d5b61d43063a.card.png); }
        
            .back.card-2 { background-image: url(5e943b3125c505681d0f1df1.image.png); }
            .back.matching.card-2 { background-image: url(5e943b3125c505681d0f1df1.card.png); }
        
            .back.card-3 { background-image: url(5e8dac932c02d5b61d430636.image.png); }
            .back.matching.card-3 { background-image: url(5e8dac932c02d5b61d430636.card.png); }
        
            .back.card-4 { background-image: url(5e943b3225c505681d0f1df2.image.png); }
            .back.matching.card-4 { background-image: url(5e943b3225c505681d0f1df2.card.png); }
        
            .back.card-5 { background-image: url(5e943b3225c505681d0f1df3.image.png); }
            .back.matching.card-5 { background-image: url(5e943b3225c505681d0f1df3.card.png); }
        
            .back.card-6 { background-image: url(5e8dac932c02d5b61d430634.image.png); }
            .back.matching.card-6 { background-image: url(5e8dac932c02d5b61d430634.card.png); }
        
            .back.card-7 { background-image: url(5e8dac932c02d5b61d430633.image.png); }
            .back.matching.card-7 { background-image: url(5e8dac932c02d5b61d430633.card.png); }
        
            .back.card-8 { background-image: url(5e8dac932c02d5b61d430635.image.png); }
            .back.matching.card-8 { background-image: url(5e8dac932c02d5b61d430635.card.png); }
        
            .back.card-9 { background-image: url(5e8dac932c02d5b61d430632.image.png); }
            .back.matching.card-9 { background-image: url(5e8dac932c02d5b61d430632.card.png); }
        
            .back.card-10 { background-image: url(5e943b3425c505681d0f1df4.image.png); }
            .back.matching.card-10 { background-image: url(5e943b3425c505681d0f1df4.card.png); }
        
            .back.card-11 { background-image: url(5e943b3425c505681d0f1df5.image.png); }
            .back.matching.card-11 { background-image: url(5e943b3425c505681d0f1df5.card.png); }
        
            .back.card-12 { background-image: url(5e8dac932c02d5b61d430637.image.png); }
            .back.matching.card-12 { background-image: url(5e8dac932c02d5b61d430637.card.png); }
        
            .back.card-13 { background-image: url(5e8dac932c02d5b61d43063e.image.png); }
            .back.matching.card-13 { background-image: url(5e8dac932c02d5b61d43063e.card.png); }
        
            .back.card-14 { background-image: url(5e943b3625c505681d0f1df6.image.png); }
            .back.matching.card-14 { background-image: url(5e943b3625c505681d0f1df6.card.png); }
        
            .back.card-15 { background-image: url(5e943b3625c505681d0f1df7.image.png); }
            .back.matching.card-15 { background-image: url(5e943b3625c505681d0f1df7.card.png); }
        
